body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("assets/images/save2.jpg");
    font-family: 'Comfortaa', cursive;

}

main {
    flex: 1 0 auto;
}

#wholePage {
    min-height: 100%;
}

h3 {
    color: black;
}

#frontSection {
    /* background-color: rgb(48, 2, 2); */
    text-align: center;

}

#homePage {
    text-align: center;
    color: rgb(184, 13, 13);
    font-family: 'Comfortaa', cursive;
}

#frontBtn {
    background-color: rgb(184, 13, 13);
    color: white;
}

#frontName {
    text-align: center;
    color: rgb(184, 13, 13);
}

.nav-wrapper {
    background-color: black;

}

#profileImg {
    max-width: 60%;
    border-radius: 5%;
    float: left;
    padding: 12px;
}

#bioTxt {
    color: black;
    font-size: 15px;
    font-family: 'Comfortaa', cursive;
    padding-bottom: 5%;
}

#proj1 {
    max-width: 100%;
}

.carousel .carousel-item {
    visibility: hidden;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
}

#miles {
    max-width: 30%;
    align-content: flex-start;
}

.page-footer {
    background-color: black;
    text-align: center;
    float: none;
    position: fixed;
    padding-top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    text-align: center;
}

.footerBtn {
    color: rgb(184, 13, 13);
}

#logo {
    max-height: 5vh;
}

#frontLogo {
    max-height: 175px;
    align-content: center;
}

#testCard {
    max-height: 400px;
    max-width: 300px;

}

.portfolioLinks {
    color: rgb(184, 13, 13);
}

.and {
    color: black;
}

.footerLinks {
    color: rgb(233, 43, 43);
}

.contactInfo {
    color: rgb(184, 13, 13);
}

.contact {
    text-align: center;
}

.fakeFooter {
    border-top: 3px solid black;
    padding-top: 8px;}

.card {
    margin-bottom: 5px;
}


@media only screen and (max-width: 420px) {
    #profileImg {
        max-width: 100%;
        border-radius: 5%;
        float: left;
        padding: 12px;
    }

    #bioTxt {
        padding-bottom: 20px;
    }

    #logo {
        max-height: 4vh;
    }

    .page-footer {
        background-color: black;
        text-align: center;
        float: none;
        position: fixed;
        padding-top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 13%;
        text-align: center;
    }

    .contact {
        max-width: 100%;
        text-align: center;
    }

    .card {
        max-height: 150px;
        padding-left: 10px;
    }

    #frontLogo {
        max-width: 125px;
    }
}

/* .card {
border-style: solid;
} */