body {
    background-image: url("Images/bkgrd_img.jpg");
    font-family: 'Comfortaa', cursive;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

h3 {
    color: lightgray;
}

#frontSection {
    /* background-color: rgb(48, 2, 2); */
    text-align: center;

}

#homePage {
    text-align: center;
    color: rgb(184, 13, 13);
    font-family: 'Comfortaa', cursive;
}

#frontBtn {
    background-color: rgb(184, 13, 13);
    color: white;
}

#frontName {
    text-align: center;
    color: rgb(184, 13, 13);
}

.nav-wrapper {
    background-color: black;
    
}

#profileImg {
    max-width: 100%;
    border-radius: 5%;
}

#bioTxt {
    color: white;
    font-size: 15px;
    font-family: 'Comfortaa', cursive;
}

#proj1 {
    max-width: 100%;
}

.carousel .carousel-item {
    visibility: hidden;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
}

#miles {
    max-width: 30%;
    align-content: flex-start;
}

.page-footer {
    background-color: black;
    text-align: center;
    float: none;
}

.footerBtn {
    color: rgb(184, 13, 13);
}

#logo {
    max-height: 5vh;
}

#frontLogo {
    max-height: 200px;
    align-content: center;
}